/* @import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Spicy+Rice&display=swap");

.navbar {
  margin-top: 30px;
  display: flex;
  color: burlywood;
  min-height: 80vh;
  font-weight: 900;
  font-size: 20px;
  box-sizing: content-box;
  text-align: center;
}

.navbar ul {
  margin: auto;
  padding: 35px;
  border-radius: 10px;
}
.navbar ul li:hover {
  color: rgba(32, 15, 126, 0.747);
  text-decoration: none;
  background-color: rgb(233, 119, 12);
}

.navbar ul li {
  width: 250px;
  list-style: none;
  text-align: center;
  margin: 5px;
  margin-left: 10px;
  background-color: rgba(48, 115, 240, 0.925);
  border-radius: 4px;
} */
